* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  font-family: sans-serif;
  gap: 20px;
}

.active,
.disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.active {
  justify-self: end;
}

.disabled {
  justify-self: start;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .active {
    justify-self: center;
  }
  .disabled {
    justify-self: center;
  }
}
input {
  display: none;
}

input:disabled + label {
  pointer-events: none;
  opacity: 0.3;
}

label {
  cursor: pointer;
}

img {
  vertical-align: top;
}

.checkbox-1 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.checkbox-1 .box {
  border: 1px solid #6563ff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.checkbox-1 .box:active {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.checkbox-1 .box img {
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  opacity: 0;
  width: 20px;
  height: 20px;
}
.checkbox-1 input:checked + label .box img {
  opacity: 1;
}

.checkbox-2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.checkbox-2 .box {
  position: relative;
  outline: 1px solid #6563ff;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.checkbox-2 .box::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #6563ff;
}
.checkbox-2 input:checked + label .box {
  background-color: rgb(183, 243, 203);
}
.checkbox-2 input:checked + label .box::before {
  left: 100%;
  -webkit-transform: translate(calc(-100% - 2px), -50%);
      -ms-transform: translate(calc(-100% - 2px), -50%);
          transform: translate(calc(-100% - 2px), -50%);
}

.checkbox-3 label {
  position: relative;
  border: 1px solid #000;
  padding: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 150px;
}
.checkbox-3 label:before {
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  width: 105%;
  aspect-ratio: 1/1;
  z-index: -1;
  content: "";
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: #9a98f8;
}
.checkbox-3 .box {
  border: 1px solid #6563ff;
}
.checkbox-3 .box img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 30px;
  opacity: 0;
}
.checkbox-3 input:checked + label:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.checkbox-3 input:checked + label {
  color: white;
}
.checkbox-3 input:checked + label img {
  opacity: 1;
}

.checkbox-4 #lines {
  stroke-dasharray: 9.5;
  stroke-dashoffset: 9.5;
  position: absolute;
  left: 100%;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
      -ms-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  bottom: 100%;
}
.checkbox-4 #mark {
  stroke-dasharray: 19;
  stroke-dashoffset: -19;
}
.checkbox-4 label {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.checkbox-4 input {
  display: none;
}
.checkbox-4 input:checked + label #mark {
  -webkit-animation: svgAnim2 0.5s ease 0s 1 forwards;
          animation: svgAnim2 0.5s ease 0s 1 forwards;
}
.checkbox-4 input:checked + label #lines {
  -webkit-animation: svgAnim1 0.5s ease 0.25s 1 forwards;
          animation: svgAnim1 0.5s ease 0.25s 1 forwards;
}
.checkbox-4 .box {
  border: 1px solid #000;
}
.checkbox-4 .box__content {
  padding: 0 2px;
}
@-webkit-keyframes svgAnim1 {
  100% {
    stroke-dashoffset: -9.5;
  }
}
@keyframes svgAnim1 {
  100% {
    stroke-dashoffset: -9.5;
  }
}
@-webkit-keyframes svgAnim2 {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes svgAnim2 {
  100% {
    stroke-dashoffset: 0;
  }
}